*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #432121;
}

header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white
    

}

.logo{
    
    display: flex;
    align-items: center;
    
    flex-direction: row;
}

header > .Varejo{
    display: flex;
    font-size: 18px;
    color: black;
}

nav{
    font-size: 20px;
    display: flex;
    align-items: center;
   gap: 330px;
    
}

nav > a{
    font-size: 20px;
    color:#83949D;
}

.BtnExp{
    color: white;
    background-color: #992F15;
    border: 1px solid ;
    width: 200px;
    height: 50px;
    border-radius: 34px;
}

main{
    width: 100%;
    height: 434px;
    display: flex;
    align-items: center;
}

.DNA{
    width: 100%;
    height: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.Nosso{
    
    font-size: 64px;
    display: flex;
    justify-content: center;
    color: white;
}

.ola{
    width: 814px;
    height: 139px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: white;
}



.Segmentos{
width: 100%;
background-color: rgb(0, 0, 0);

}

.beneficios{
    width: 100%;
    display: flex;
    justify-content: center;

}

.BenefiVarejo{
    margin-top: 100px;
    width: 700px;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.BenefiVarejo > span{
    color: #992F15;
}

.txt{
width: 100%;
height: 330px;
font-size: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 15px;
text-align: center;
color: #ffffff;
}


.txt > .txt1{
    width: 1418px;
    height: 60px;
    font-size: 20px;
    display: flex;
}
.txt > .txt2{
    width: 1418px;
    height: 60px;
    font-size: 20px;
    display: flex;
}

.txt > .txt3{
    width: 1418px;
    height: 60px;
    font-size: 20px;
    display: flex;
}



.Planos{
    width: 100%;
    height: 710px;
    background-color: white;
    }
    


.Planos{
    background-image: url("./src/img/svg/fundo-loja.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
    .Planos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .Planos > .nossosP{
        position: absolute;
        padding-bottom: 500px;
        font-size: 60px;
        color: #ffffff;
       
        
    }
    
    .Planos > .all-cards{
        position: absolute;
        display: flex;
        gap: 120px;
        margin-top: 50px;
    }
    
    .card-mkt{
       color: #ffffff;
        width: 270px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: rgb(0, 0, 0);
        opacity: 80%;
        border: 2px solid black;
        border-radius: 30px;
        
    }


    
    .card-vend{
        color: #ffffff;
        width: 270px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: rgb(0, 0, 0);
        opacity: 80%;
        border: 2px solid black;
        border-radius: 30px;
       
    }
    
    .card-log{
        color: #ffffff;
        width: 270px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items:center;
        background-color: rgb(0, 0, 0);
        opacity: 80%;
        border: 2px solid black;
        border-radius: 30px;
        
    }

    footer{
        
        width: 100%;
        height: 203px;
        display: flex;
        justify-content: center;
        gap: 200px;
        background-color: rgb(0, 0, 0);
        color: #ffffff;    
    }

    .VA{
        margin-top: 20px;
    }

    .VA> h1{
        font-size: 22px;
        color: #ffffff;
    }
    
    .nav{
    margin-top: 20px;
     display: flex;
     flex-direction: column;
     gap: 28px;
    }
    
    .nav > a{
        color: white;
        font-size: 20px;
    }

    .material{
     margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    }
    
    .material > h1{
        
        font-size: 22px;
        
    }
    
.BtnReceber{
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(148, 14, 14);
}

    input{
        width: 560px;
        height: 48px;
       box-shadow: 2px 0px rgb(255, 255, 255);
    }
    
    





